PyYAML
# pprint
jsonschema==3.0.2
Django==2.2.8
djangorestframework==3.10.1
pytz==2019.1
sqlparse==0.3.0
requests==2.21.0
# pymysql #for windows
django-mysql
mysqlclient
django-cors-headers
drf-yasg==1.17.0
service-mapping-plugin-framework